<div class="view">
  <div class="card">
    <div class="card-body">
      <div class="table-title">
        <h2>Table Title</h2>
      </div>
      <div class="wrapper table-concept">
        <table datatable class="table">
          <thead>
            <tr>
              <th class="sticky-col first-col">Fixed Header</th>
              <th class="sticky-col second-col">Fixed Header</th>
              <th class="sticky-col third-col">Fixed Header</th>
              <th class="sticky-col forth-col">Fixed Header</th>
              <th>Scroll Header</th>
              <th>Scroll Header</th>
              <th>Scroll Header</th>
              <th>Scroll Header</th>
              <th>Scroll Header</th>
              <th>Scroll Header</th>
              <th>Scroll Header</th>
              <th>Scroll Header</th>
              <th>Scroll Header</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="sticky-col first-col">Fixed Data</td>
              <td class="sticky-col second-col">Fixed Data</td>
              <td class="sticky-col third-col">Fixed Data</td>
              <td class="sticky-col forth-col">Fixed Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
            </tr>
            <tr>
              <td class="sticky-col first-col">Fixed Data</td>
              <td class="sticky-col second-col">Fixed Data</td>
              <td class="sticky-col third-col">Fixed Data</td>
              <td class="sticky-col forth-col">Fixed Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
            </tr>
            <tr>
              <td class="sticky-col first-col">Fixed Data</td>
              <td class="sticky-col second-col">Fixed Data</td>
              <td class="sticky-col third-col">Fixed Data</td>
              <td class="sticky-col forth-col">Fixed Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
              <td>Scroll Data</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>