/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    scroll-behavior: smooth;
    --font-family-base: "Open Sans", sans-serif;
    --main-font: "Open Sans", sans-serif;
    --main-normal: 400;
    --main-medium: 500;
    --main-bold: 700;
    --main-exbold: 900;
    --base-font-size: 14px;
    --primary-bg-color: #1a3695;
  
    --Toolbar-Blue: #11559C;
    --blue-gray: #C1D3EA;
    --text-default: #00060F;
    --blue-lighter: #F5FAFF;
    --Button-New: #164FBC;
    --text-highlight: #164FBC;
  
    --light: #ffffff;
    --sky: #40a7e2;
    --purple: #452b90;
    --dark: #222b40;
    --green: #0a1506;
    --blue: #1c2e9e;
    --red: #C6487E;
  
    --back-color: #e8e9ec;
    --primary-color: #000;
    --header-back: #fff;
    --header-text: #000;
    --sidebar-back: #fff;
    --sidebar-text: #000;
    --sidebar-text-hover: #f8b940;
  
  
  }
  
  
  
  body {
    font-family: var(--font-family-base);
    background: var(--white);
    color: var(--black);
    margin: 0;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Nunito", sans-serif;
  }
  
  input.form-control,
  select.form-select,
  textarea.form-control {
    border: 0;
    border-bottom: 1px solid #333;
    /* background: transparent; */
    border-radius: 0;
  }
  
  
  
  /* You can add global styles to this file, and also import other style files */
  .dataTables_wrapper .dataTables_length {
    position: fixed;
    margin-top: -36px;
  }
  
  .dataTables_wrapper .dataTables_filter {
    position: fixed;
    margin-top: -45px;
    right: 4rem;
    display: none;
  }
  
  .dataTables_wrapper .dataTables_filter input {
    border-radius: 5px !important;
    border: 1px solid var(--blue-gray) !important;
    background: var(--white) !important;
  
  }
  
  .dataTables_wrapper .dataTables_info {
    position: fixed;
  }
  
  .dataTables_wrapper .dataTables_paginate {
    position: fixed;
    right: 4rem;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 2px 6px !important;
  }
  
  .card{
    box-shadow: 0px 4px 11px 4px rgba(193, 211, 234, 0.24);
  }
  
  .sidebar {
    background-color: #333;
    color: white;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .navbar {
    background: var(--Toolbar-Blue);
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 9;
  }
  
  .main-panel {
    padding: 10px;
    /* margin-left: 250px; */
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
  }
  
  
  
  
  
  
  .button-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
  }
  
  .btndefault {
    display: flex;
    /* width: 180px; */
    /* height: 46px; */
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 0;
    margin: 0 3px;
    outline: 0;
  }
  
  .btn-white {
    border-radius: 4px;
    border: 1.5px solid var(--Button-New);
    background: var(--white);
    color: var(--Button-New);
  }
  
  .btn-blue {
    border-radius: 4px;
    background: var(--Button-New);
    color: var(--white);
  }
  .btn-file{
    border-radius: 4px;
    border: 1.5px solid var(--Button-New);
    background: var(--white);
    color: var(--Button-New);
  }
  
  
  .page-body-wrapper {
    /* min-height: calc(100vh - #{$navbar-height}); */
    /* padding-top: $navbar-height; */
    /* display: flex; */
    /* flex-direction: row; */
    padding-left: 0;
    padding-right: 0;
  }
  
  .page-body-wrapper.full-page-wrapper {
    width: 100%;
    min-height: 100vh;
    padding-top: 0;
  }
  
  .main-panel {
    /* transition: width $action-transition-duration $action-transition-timing-function, margin $action-transition-duration $action-transition-timing-function; */
    /* width: calc(100% - #{$sidebar-width-lg}); */
    /* min-height: calc(100vh - #{$navbar-height}); */
    display: flex;
    flex-direction: column;
  
    @media (max-width: 991px) {
      margin-left: 0;
      width: 100%;
    }
  
    &.main-panel-only {
      transition: none;
    }
  }

  .topInfo{
    background: #c1d3ea;
    padding: 2px 10px;
  }
  .infoBlock .form-label{
    text-align: left;
    justify-content: flex-start !important;
  }
  .infoBlock .form-data{
    text-align: left;
    justify-content: flex-start !important;
  }
  @media (min-width: 576px){
    .infoBlock .form-inline label {justify-content: flex-start !important;}
  }
  .infoBlock .form-group {
    margin-bottom: 0px;
}
.infoBlock .form-group .col-form-label {
  text-align: right;
  font-weight: 600;
}
  
  .content-wrapper {
    padding: 0 15px;
    width: 100%;
    flex-grow: 1;
  }
  
  .container-scroller {
    overflow: hidden;
  }
  
  .logo{
    width: 200px;
    margin-right: 10px;
  }
  .logo2{
    width: 120px;
  }
  .logo img, .logo2 img{
    max-width: 100%;
  }
  .logoWrapper{
    max-width: 540px;
    margin: 0 auto;
  }
  
  /***********upload**************/
  #upload {
    /* top: 50%; */
    /* left: 50%; */
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--white);
    box-shadow: 0px 4px 11px 4px rgba(193, 211, 234, 0.24);
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
    padding: 15px;
    max-width: 540px;
    margin: 0 auto;
  }
  
  #upload .icon {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    margin: 0 auto;
    background-color: #C2D7F9;
    padding: 15px;
  }
  #upload .icon img{
    max-width: 100%;
  }
  
  #upload p {
    color: var(--text-default, #00060F);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  #upload .input-group-btn {
    justify-content: center;
  }
  
  #upload .button-container {
    justify-content: space-between;
  }
  
  #upload .btn-file{
    width: 360px;
  }
  
  
  
  
  .table{
    display: table !important;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    /* border-spacing: 2px; */
    /* border-color: gray; */
  }
  thead{
    display: table-header-group !important;
    vertical-align: middle;
    border-color: inherit;
  }
  .table>thead>tr{
    display: table-row !important;
    vertical-align: inherit;
    border-color: inherit;
  }
  .table>thead tr th{
    vertical-align: inherit;
    display: table-cell !important;
      font-weight: bold;
      text-align: -internal-center;
  }
  tbody{
    display: table-row-group !important;
    vertical-align: middle;
    border-color: inherit;
  }
  .table>tbody tr{
    display: table-row !important;
      width: 100% !important;
  }
  
  .table>tbody tr td {
    padding: 5px;
    display: table-cell !important;
  }



  .smlTxt{
    font-size: 14px;
    text-align: center;
    color: var(--black);
  }


  
/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 260px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0 4px 25px 0 rgb(0 0 0 / 10%);
    /* background-color: var(--secondary-bg-color); */
    /* background-color: var(--white); */
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  @media (max-width: 1199px) {
    .sidebar {
      left: -260px;
    }
  }
  
  .sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: var( --white);
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
  }
  
  @media (min-width: 1200px) {
  
    #main,
    #footer {
      margin-left: 260px;
    }
  }
  
  @media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
      left: 0;
    }
  }
  
  @media (min-width: 1200px) {
  
    .toggle-sidebar #main,
    .toggle-sidebar #footer {
      margin-left: 0;
    }
  
    .toggle-sidebar .sidebar {
      left: -260px;
    }
  }
  
  .sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebar-nav .nav-item {
    margin-bottom: 5px;
  }
  
  .sidebar-nav .nav-heading {
    font-size: 11px;
    text-transform: uppercase;
    color: var( --primary-bg-color);
    font-weight: 600;
    margin: 10px 0 5px 15px;
  }
  
  .sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    /* color: var( --white); */
    color: var( --black);
    transition: 0.3;
    /* background: var(--secondary-bg-color); */
    background: transparent;
    padding: 10px 15px;
    border-radius: 4px;
    /* box-shadow: 1px 2px 2px rgba(255, 255, 255, 0.6); */
  }
  
  .sidebar-nav .nav-link i {
    font-size: 16px;
    margin-right: 10px;
    color: var( --black);
  }
  
  .sidebar-nav .nav-link.collapsed {
    color: var(--black);
    /* background: var( --white); */
  }
  
  .sidebar-nav .nav-link.collapsed i {
    color: var(--black);
  }
  
  .sidebar-nav .nav-link:hover {
    color: var( --white);
    background: var(--primary-bg-color);
  }
  
  .sidebar-nav .nav-link:hover i {
    color: var( --white);
  }
  
  .sidebar-nav .nav-link .bi-chevron-down {
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
  }
  
  .sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
  }
  
  .sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: var( --black);
    transition: 0.3;
    padding: 10px 0 10px 15px;
    transition: 0.3s;
  }
  
  .sidebar-nav .nav-content a i {
    font-size: 6px;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50%;
  }
  
  .sidebar-nav .nav-content a:hover,
  .sidebar-nav .nav-content a.active {
    color: var( --primary-bg-color);
  }
  
  .sidebar-nav .nav-content a.active i {
    background-color: var( --primary-bg-color);
  }





.input-group {
  position: relative;
  margin-right: 5px;
}


.label {
  font-size: 12px;
  text-transform:capitalize;
  font-weight: 600;
  width: 100%;
  margin-bottom: 5px;
}
/* .searchBg{
  background: #f4f4f4;
} */
.searchBg{
  display: flex;
    justify-content: flex-start;
    align-items: center !important;
    background: #f3f2f2;
    margin-bottom: 10px;
}
.searchBg .col-auto{padding: 2px 8px;flex-wrap: wrap;flex: 1;width: inherit;}
.col-auto-100{width: 40px;}
.bi-search{cursor: pointer; }

  .searchBg .bi-search{
    cursor: pointer;
    border: 1px solid #000;
    padding: 7px;
    background: #c8e1fb;
  }
.searchBg .input-group .label{color:var(--black);}

.input-group>.form-floating:not(:first-child)>.form-control, .input-group>.form-floating:not(:first-child)>.form-select, .input-group>:not(:first-child):not(.dropdown-menu):not(.form-floating):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: 0;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

@media (max-width: 767px) {
  .input--large,
  .input--medium {
    width: 100%;
  }
}

.input--style-1 {
  font-size: 18px;
  padding: 9px 0;
  color: #666;
}


.m-b-0 {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .m-b-0 {
    margin-bottom: 26px;
  }
}