

<div class="container">
    <div class="col-md-12 text-center d-flex align-item-center justify-content-center mt-4 mb-4 logoWrapper">
        <div class="logo">
            <img src="../../assets/img/barnet-logo-green.png" alt="logo"/>
        </div>
    </div>
</div>

<div id="upload">
  
    
    <div class="container">
        <div class="col-md-12">
            <div class="form-group text-center">
                <div class="icon">
                    <img src="../../assets/img/excel.png" alt="File Upload"/>
                </div>
                <label class="mt-3">LGA + SC Summary</label>
                <div class="input-group justify-content-center mt-1">
                    <span class="input-group-btn">
                        <span class="btn btndefault btn-file">
                            Browse File <input type="file" id="imgInp">
                        </span>
                    </span>
                </div>
                <div class="smlTxt mt-2">Upload GHG emission consumption data input sheet in excel format</div>
                <div class="button-container mt-4">
                    <button class="btn btndefault btn-white py-2" type="submit">Cancel</button>
                    <button class="btn btndefault btn-blue py-2" type="submit" (click)="showSuccess()">Upload</button>
                </div>
                <app-popup *ngIf="popupService.isSuccessPopupOpen"></app-popup>
            </div>
        </div>
    </div>




   
</div>